<h1>Geekkobe2</h1>
<h3>新規Student</h3>
<%= form_for @student do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :size => 140 %>
    <%= f.label :mentor %>
    <%= f.text_field :mentor, :size => 140 %>
    <%= f.label :grade %>
    <%= f.text_field :grade, :size => 140 %>
  </div>
  <%= f.submit "記録する" %>
<% end %>
<%= link_to "Student一覧に戻る", students_path %>